
    <!--About Txt Video Start-->
    <div class="about-video-section wf100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h5>We are Taking Small Steps to Make</h5>
                        <h2>Rithal Better Village</h2>
                    <p><strong>RITHAL</strong> is one of the important and biggest villages of Rohtak District in India located between 290 North latitude and 77o East longitude and have 730 feet height from sea level. It is located 15 Km North-East to Rohtak town. Rithal-Kahni-Ghilour-Khera villages make another identity of social-group of 6-Panchayats namely Rithal-Phougat, Rithal-Narwal, Kahni-12-1/2B, Kahni-7-1/2B, Ghilour Kalan and Ghilour Khurd are known as “CHOUGAMA”. Rithal has two Panchyats with the name Rithal-Phougat and Rithal-Narwal. Actually Rithal-Phuogat and Rithal-Narwal are the two different and twin villages with the different demarcation and different administrative and revenue records.</p>
                    <p>Rithal-Phougat has an area of 5.37 Sq. Miles .Its Hadbast No. is 76 in revenue record. Rithal-Phougat has four ‘Pannas’ (Sectors) namely Chiryal, Kilanu, Meghu and Satlan. Rithal-Phougat has the facilities of Govt. Civil Dispensary, Govt. Ayurvedic Dispensary, Vetenary Dispensary, Jal-Ghar, Punjab National Bank, Patwar-Ghar, and Bus Stand for Rohtak and Gohana side, Shiv-Mandir, Dera Ram-ala, Devta-Atayeewala, Ravi-Das Mandir, Samadhi-Gazhi-Khan, Telephone Exchange, C R Stadium, 6-Choupals and cellular towers for BSNL, Airtel, Reliance, Vodafone and Idea companies. Rithal-Phougat is surrounded by Rithal-Narwal, Kahni, Moi-Hooda, Anwali and Rewara villages.</p>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-video-img"> <a href="#"><i class="fas fa-play"></i></a> <img src="~/images/Rithal_School.jpg" alt=""> </div>
                </div>
            </div>
        </div>
    </div>
    <!--About Txt Video End-->
