<!--Our Success Story Start-->
<div class="our-success-story wf100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="story-title-bg">
                    <strong class="t1">ecova.</strong> <strong class="t2">20+</strong> <strong class="t3">
                        Years of
                        Services
                    </strong>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="section-title-2">
                    <h5>About our History</h5>
                    <h2>Our Success Story</h2>
                </div>
                <!--eco History Start-->
                <div class="eco-history">
                    <div class="timeline-slider">
                        <div class="timeline-nav">
                            <div><span><strong>2000 - 2002</strong></span></div>
                            <div><span><strong>2002 - 2006</strong></span></div>
                            <div><span><strong>2006 - 2009</strong></span></div>
                            <div><span><strong>2009 - 2012</strong></span></div>
                            <div><span><strong>2012 - 2015</strong></span></div>
                            <div><span><strong>2015 - 2018</strong></span></div>
                        </div>
                        <div class="timeline">
                            <!--Timeline Text Start-->
                            <div>
                                <div class="row">
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>We Started</h6>
                                            <p> In 1998, We took step towards to make healthy and safe Eco Environment in the different fields, and our passion is: to clean the Eco Environment for the next generations who shall face the problem in future. </p>
                                        </div>
                                    </div>
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Results of Hardwork</h6>
                                            <p> We have a very strong group of our senior team members and volunteers. But I must explain to you how all this mistaken idea of denounce pleasure and praising pain was born and I will give you a complete account. </p>
                                        </div>
                                    </div>
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Project </h6>
                                            <p> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Timeline Text End-->
                            <!--Timeline Text Start-->
                            <div>
                                <div class="row">
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Results of Hardwork</h6>
                                            <p> We have a very strong group of our senior team members and volunteers. But I must explain to you how all this mistaken idea of denounce pleasure and praising pain was born and I will give you a complete account. </p>
                                        </div>
                                    </div>
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Project </h6>
                                            <p> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee. </p>
                                        </div>
                                    </div>
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>We Started</h6>
                                            <p> In 1998, We took step towards to make healthy and safe Eco Environment in the different fields, and our passion is: to clean the Eco Environment for the next generations who shall face the problem in future. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Timeline Text End-->
                            <!--Timeline Text Start-->
                            <div>
                                <div class="row">
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>We Started</h6>
                                            <p> In 1998, We took step towards to make healthy and safe Eco Environment in the different fields, and our passion is: to clean the Eco Environment for the next generations who shall face the problem in future. </p>
                                        </div>
                                    </div>
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Results of Hardwork</h6>
                                            <p> We have a very strong group of our senior team members and volunteers. But I must explain to you how all this mistaken idea of denounce pleasure and praising pain was born and I will give you a complete account. </p>
                                        </div>
                                    </div>
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Project </h6>
                                            <p> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Timeline Text End-->
                            <!--Timeline Text Start-->
                            <div>
                                <div class="row">
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Results of Hardwork</h6>
                                            <p> We have a very strong group of our senior team members and volunteers. But I must explain to you how all this mistaken idea of denounce pleasure and praising pain was born and I will give you a complete account. </p>
                                        </div>
                                    </div>
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Project </h6>
                                            <p> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee. </p>
                                        </div>
                                    </div>
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>We Started</h6>
                                            <p> In 1998, We took step towards to make healthy and safe Eco Environment in the different fields, and our passion is: to clean the Eco Environment for the next generations who shall face the problem in future. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Timeline Text End-->
                            <!--Timeline Text Start-->
                            <div>
                                <div class="row">
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>We Started</h6>
                                            <p> In 1998, We took step towards to make healthy and safe Eco Environment in the different fields, and our passion is: to clean the Eco Environment for the next generations who shall face the problem in future. </p>
                                        </div>
                                    </div>
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Results of Hardwork</h6>
                                            <p> We have a very strong group of our senior team members and volunteers. But I must explain to you how all this mistaken idea of denounce pleasure and praising pain was born and I will give you a complete account. </p>
                                        </div>
                                    </div>
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Project </h6>
                                            <p> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Timeline Text End-->
                            <!--Timeline Text Start-->
                            <div>
                                <div class="row">
                                    <div class=" col-4">
                                        <div class="timeline-box">
                                            <h6>Results of Hardwork</h6>
                                            <p> We have a very strong group of our senior team members and volunteers. But I must explain to you how all this mistaken idea of denounce pleasure and praising pain was born and I will give you a complete account. </p>
                                            <!-- </div> -->
                                        </div>
                                        <div class=" col-4">
                                            <div class="timeline-box">
                                                <h6>Project </h6>
                                                <p> On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee. </p>
                                            </div>
                                        </div>
                                        <div class=" col-4">
                                            <div class="timeline-box">
                                                <h6>We Started</h6>
                                                <p> In 1998, We took step towards to make healthy and safe Eco Environment in the different fields, and our passion is: to clean the Eco Environment for the next generations who shall face the problem in future. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Timeline Text End-->
                            </div>
                        </div>
                    </div>
                    <!--Political History End-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Our Success Story End-->