<!--Why you Need to Choose Ecova Start-->
<div class="choose-ecova wf100 p80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title-2">
                    <h5>Why you Need to</h5>
                    <h2>Choose Rithal</h2>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="eco-box">
                            <span class="econ-icon"><i class="far fa-handshake"></i></span>
                            <h5> Become a Volunteer </h5>
                            <p> Lorem ipsum dolor amet consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore et dolore. </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="eco-box">
                            <span class="econ-icon"><i class="far fa-money-bill-alt"></i></span>
                            <h5> Send Donation </h5>
                            <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id. </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="eco-box">
                            <span class="econ-icon"><i class="fas fa-heart"></i></span>
                            <h5> Affective Causes </h5>
                            <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain.</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="eco-box">
                            <span class="econ-icon"> <i class="fas fa-coffee"></i> </span>
                            <h5> Fund Raising </h5>
                            <p>Who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="volunteer-form">
                    <div class="section-title">
                        <h3>Join us Now</h3>
                    </div>
                    <ul>
                        <li>
                            <input type="text" class="form-control" placeholder="Your Name" aria-label="Your Name">
                        </li>
                        <li>
                            <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address">
                        </li>
                        <li>
                            <input type="text" class="form-control" placeholder="Contact" aria-label="Contact">
                        </li>
                        <li>
                            <input type="submit" class="fsubmit" value="Signup to Join us">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Why you Need to Choose Ecova End-->