 <!--InstaGram Start-->
<div class="instagram">
    <ul>
        <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="images/insta1.jpg" alt=""> </li>
        <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="images/insta2.jpg" alt=""> </li>
        <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="images/insta3.jpg" alt=""> </li>
        <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="images/insta4.jpg" alt=""> </li>
        <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="images/insta5.jpg" alt=""> </li>
        <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="images/insta6.jpg" alt=""> </li>
        <li> <a href="#"> <i class="fas fa-search"></i> </a> <img src="images/insta7.jpg" alt=""> </li>
    </ul>
</div>
<!--InstaGram End-->