@{
    ViewData["Title"] = "Panchayat";
}


<!--Inner Header Start-->
<section class="wf100 p100 inner-header">
    <div class="container">
        <h1>Panchayat</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#"> Panchayat </a></li>
            <li><a href="#">Panchayat Phogat</a></li>
        </ul>
    </div>
</section>
<!--Inner Header End-->
<!--Causes Start-->
<section class="wf100 p80 events">
    <div class="event-list-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <!--Event Box Start-->
                    <div class="event-list-box">
                        <div class="event-thumb"><img src="~/images/RithalPanchayat/Sh_Mouji_Ram_1952_Phogat.jpg" alt=""> </div>
                        <ul class="event-meta">
                            <li> <strong>From-Year :</strong> 1947</li>
                            <li> <strong>To-Year :</strong> 1952 </li>
                            <li> <strong>Father's Name:</strong> Sh. Sukh Lal </li>
                        </ul>
                        <div class="event-txt">
                            <h4 > Sh. Mouji Ram  </h4>
                            <p>Served as a dedicated representative, worked closely with the villagers, addressing their concerns, and facilitating development projects during their tenure as the Gram Panchayat's ex Sarpanch.</p>
                            @*<a href="#" class="attbtn">Attend Event</a>*@
                        </div>
                    </div>
                    <!--Event Box End-->
                    <!--Event Box Start-->
                    <div class="event-list-box">
                        <div class="event-thumb"><img src="~/images/RithalPanchayat/Sh_Banwari_Lal_1957_62_Phogat.jpg" alt=""> </div>
                        <ul class="event-meta">
                            <li> <strong>From-Year:</strong> 1952</li>
                            <li> <strong>To-Year:</strong>1962 </li>
                            <li> <strong>Father's Name:</strong> Sh. Nand Ram</li>
                        </ul>
                        <div class="event-txt">
                            <h4> Sh. Banwari</h4>
                            <p>Served as a dedicated representative, worked closely with the villagers, addressing their concerns, and facilitating development projects during their tenure as the Gram Panchayat's ex Sarpanch.</p>
                            
                        </div>
                    </div>
                    <!--Event Box End-->
                    <!--Event Box Start-->
                    <div class="event-list-box">
                        <div class="event-thumb"><img src="~/images/RithalPanchayat/Sh_Dariya_Singh_1962_Phogat.jpg" alt=""> </div>
                        <ul class="event-meta">
                            <li> <strong>From-Year:</strong> 1962-67</li>
                            <li> <strong>To-Year:</strong> 1967 </li>
                            <li> <strong>Father's Name:</strong> Sh. Juglal </li>
                        </ul>
                        <div class="event-txt">
                            <h4>Sh. Dariya Singh</h4>
                            <p>"Let's not just dream of progress; let's work together to make those dreams a reality. I am committed to implementing sustainable development projects that uplift every corner of our village."</p>
                            @*<a href="#" class="attbtn">Attend Event</a>*@
                        </div>
                    </div>
                    <!--Event Box End-->
                   
                    <!--Event Box Start-->
                    <div class="event-list-box">
                        <div class="event-thumb"><img src="~/images/RithalPanchayat/Sh_Ramher_1987_Phogat.jpg" alt=""> </div>
                        <ul class="event-meta">
                            <li> <strong>From-Year:</strong> 1987</li>
                            <li> <strong>To-Year:</strong>1992</li>
                            <li> <strong>Father's Name:</strong>Sh. Khetu</li>
                        </ul>
                        <div class="event-txt">
                            <h4> Sh. Ramher Singh </h4>
                            <p>"Your active involvement is crucial for the success of our community projects. Let us work hand in hand to build a village that we can all be proud of."</p>
                            @*<a href="#" class="attbtn">Attend Event</a>*@
                        </div>
                    </div>
                    <!--Event Box End-->
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="sidebar">
                        <!--Widget Start-->
                        <div class="side-widget">
                            <h5>Search</h5>
                            <div class="side-search">
                                <form>
                                    <input type="search" class="form-control" placeholder="Search">
                                    <button><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!--Widget End-->
                        <!--Widget Start-->
                        <div class="side-widget text-widget">
                            <h5>Voter List Phogat</h5>
                           @* <a asp-action="GetPdf" asp-controller="Users">Download</a>*@
                            <a href="/file/Rithal_Phogat_Voter_List_1.pdf" class="attbtn" download> Download Voter List Phogat 1</a>
                             <a href="/file/Rithal_Phogat_Voter_List_2.pdf" class="attbtn" download> Download Voter List Phogat 2</a>
                              <a href="/file/Rithal_Phogat_Voter_List_3.pdf" class="attbtn" download> Download Voter List Phogat 3</a>
                               <a href="/file/Rithal_Phogat_Voter_List_4.pdf" class="attbtn" download> Download Voter List Phogat 4</a>
                           
                       @*     <p> We are Ecova: eco &amp; environmental community. We need your support and help to Stop Globar Warning. Few generations ago it to seemed like world’s resources were infinite, and the people needed only to access them to create business, Lorem ipsum dolor it amet consect adipiscing. </p>
                      *@  
                  </div>
                        <!--Widget End-->
                        <!--Widget Start-->
                        <div class="side-widget">
                            <h5>News &amp; Articles</h5>
                            <ul class="lastest-products">
                                <li> <img src="~/images/flp1.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                                <li> <img src="~/images/flp2.jpg" alt=""> <strong><a href="#">Eliminate your plastic bottle pollution</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                                <li> <img src="~/images/flp3.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                            </ul>
                        </div>
                        <!--Widget Start-->
                        <!--Widget Start-->
                        <div class="side-widget project-list-widget">
                            <h5>Current Projects</h5>
                            <ul>
                                <li><a href="#">Waste Management</a></li>
                                <li><a href="#">Solar Energy</a></li>
                                <li><a href="#">Eco Ideas</a></li>
                                <li><a href="#">Recycling Materials</a></li>
                                <li><a href="#">Plant Ecology</a></li>
                                <li><a href="#">Saving Wildlife</a></li>
                                <li><a href="#">Water Resources</a></li>
                                <li><a href="#">Forest &amp; Tree Planting</a></li>
                                <li><a href="#">Wing Energy</a></li>
                            </ul>
                        </div>
                        <!--Widget End-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="gt-pagination mt20">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <i class="fas fa-angle-left"></i> </a> </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item "><a class="page-link" asp-controller="Panchayat" asp-action="RithalPhogat">2</a></li>
                                <li class="page-item"><a class="page-link" asp-controller="Panchayat" asp-action="RithalPhogat3">3</a></li>
                                <li class="page-item"> <a class="page-link" asp-controller="Panchayat" asp-action="RithalPhogat" aria-label="Next"> <i class="fas fa-angle-right"></i> </a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Causes End--> 