@{
    ViewData["Title"] = "Panchayat";
}


<!--Inner Header Start-->
<section class="wf100 p100 inner-header">
    <div class="container">
        <h1>Panchayats</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#"> Panchayat </a></li>
            <li><a href="#">Rithal Narwal</a></li>
        </ul>
    </div>
</section>
<!--Inner Header End-->
<!--Causes Start-->
<section class="wf100 p80 events">
    <div class="event-list-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <!--Event Box Start-->
                    <div class="event-list-box">
                        <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="~/images/RithalPanchayat/Sh_Dariya_Singh_1962_Phogat.jpg" alt=""> </div>
                        <ul class="event-meta">
                            <li> <strong>Year:</strong>1972-8252</li>
                            <li> <strong>Name:</strong> Sh. Dariya Singh</li>
                            <li> <strong>Father's Name:</strong> Sh. Juglal </li>
                        </ul>
                        <div class="event-txt">
                            <h4> <a href="#">Awareness Campaign to Save & Planting Forest</a> </h4>
                            <p>The environment includes; the surface of the earth, natural re­sources, land and water.</p>
                            <a href="#" class="attbtn">Attend Event</a>
                        </div>
                    </div>
                    <!--Event Box End-->
                    <!--Event Box Start-->
                    <div class="event-list-box">
                        <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="~/images/RithalPanchayat/Sh_Kansi_Ram_1982_Phogat.jpg" alt=""> </div>
                        <ul class="event-meta">
                            <li> <strong>Year:</strong> 1982-87</li>
                            <li> <strong>Name:</strong> Sh. Kanshi Ram </li>
                            <li> <strong>Father's Name:</strong> Shri Ram Pandit </li>
                        </ul>
                        <div class="event-txt">
                            <h4> <a href="#">Awareness Campaign to Save & Planting Forest</a> </h4>
                            <p>The environment includes; the surface of the earth, natural re­sources, land and water.</p>
                            <a href="#" class="attbtn">Attend Event</a>
                        </div>
                    </div>
                    <!--Event Box End-->
                    <!--Event Box Start-->
                    <div class="event-list-box">
                        <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="~/images/RithalPanchayat/Sh_Ramher_1987_Phogat.jpg" alt=""> </div>
                        <ul class="event-meta">
                            <li> <strong>Year:</strong> 1987-92</li>
                            <li> <strong>Name:</strong> Sh. Ramher Singh </li>
                            <li> <strong>Father's Name:</strong>Sh. Khetu</li>
                        </ul>
                        <div class="event-txt">
                            <h4> <a href="#">Awareness Campaign to Save & Planting Forest</a> </h4>
                            <p>The environment includes; the surface of the earth, natural re­sources, land and water.</p>
                            <a href="#" class="attbtn">Attend Event</a>
                        </div>
                    </div>
                    <!--Event Box End-->
                    <!--Event Box Start-->
                    <div class="event-list-box">
                        <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="~/images/RithalPanchayat/Sh_Rajender_Jangra_1992_Phogat.jpg" alt=""> </div>
                        <ul class="event-meta">
                            <li> <strong>Year:</strong> 1992-97</li>
                            <li> <strong>Name:</strong> Sh. Rajender Jangra </li>
                            <li> <strong>Father's Name:</strong> Sh. Zaale Jangra </li>
                        </ul>
                        <div class="event-txt">
                            <h4> <a href="#">Awareness Campaign to Save & Planting Forest</a> </h4>
                            <p>The environment includes; the surface of the earth, natural re­sources, land and water.</p>
                            <a href="#" class="attbtn">Attend Event</a>
                        </div>
                    </div>
                    <!--Event Box End-->
                    <!--Event Box Start-->
                    <div class="event-list-box">
                        <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="~/images/RithalPanchayat/Smt_Sunita_Nandal_1997_Phogat.jpg" alt=""> </div>
                        <ul class="event-meta">
                            <li> <strong>Year:</strong> 1997-2002</li>
                            <li> <strong>Name:</strong> Smt. Sunita Nandal </li>
                            <li> <strong>Father's Name:</strong> Sh. Satish Nandal </li>
                        </ul>
                        <div class="event-txt">
                            <h4> <a href="#">Awareness Campaign to Save & Planting Forest</a> </h4>
                            <p>The environment includes; the surface of the earth, natural re­sources, land and water.</p>
                            <a href="#" class="attbtn">Attend Event</a>
                        </div>
                    </div>
                    <!--Event Box End-->
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="sidebar">
                        <!--Widget Start-->
                        <div class="side-widget">
                            <h5>Search</h5>
                            <div class="side-search">
                                <form>
                                    <input type="search" class="form-control" placeholder="Search">
                                    <button><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!--Widget End-->
                        <!--Widget Start-->
                        <div class="side-widget text-widget">
                            <h5>Text Widget</h5>
                            <p> We are Ecova: eco &amp; environmental community. We need your support and help to Stop Globar Warning. Few generations ago it to seemed like world’s resources were infinite, and the people needed only to access them to create business, Lorem ipsum dolor it amet consect adipiscing. </p>
                        </div>
                        <!--Widget End-->
                        <!--Widget Start-->
                        <div class="side-widget">
                            <h5>News &amp; Articles</h5>
                            <ul class="lastest-products">
                                <li> <img src="images/flp1.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                                <li> <img src="images/flp2.jpg" alt=""> <strong><a href="#">Eliminate your plastic bottle pollution</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                                <li> <img src="images/flp3.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i class="fas fa-calendar-alt"></i> 29 September, 2018</span> </li>
                            </ul>
                        </div>
                        <!--Widget Start-->
                        <!--Widget Start-->
                        <div class="side-widget project-list-widget">
                            <h5>Current Projects</h5>
                            <ul>
                                <li><a href="#">Waste Management</a></li>
                                <li><a href="#">Solar Energy</a></li>
                                <li><a href="#">Eco Ideas</a></li>
                                <li><a href="#">Recycling Materials</a></li>
                                <li><a href="#">Plant Ecology</a></li>
                                <li><a href="#">Saving Wildlife</a></li>
                                <li><a href="#">Water Resources</a></li>
                                <li><a href="#">Forest &amp; Tree Planting</a></li>
                                <li><a href="#">Wing Energy</a></li>
                            </ul>
                        </div>
                        <!--Widget End-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="gt-pagination mt20">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <i class="fas fa-angle-left"></i> </a> </li>
                                <li class="page-item "><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <i class="fas fa-angle-right"></i> </a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Causes End--> 